*{
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
}

main#container{
    display: flex;
    justify-content: space-around;
    flex-grow:1; 
    line-height: 32px;
    border: 4px dashed coral;
}
footer{
    height: 20vh;
    background-color: #2f2f2f;
}
#player,#computer {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}