*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100%;
    font-size: 18px;
}
body{
    display: flex;
    flex-direction: column;
}
div#container{
    display: flex;          
    flex-direction: column;
    border: 4px dashed coral;
    flex: 1;
    text-align: center;
}
#main-content{
    display: flex;
    flex:1;
}
#player,#computer {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2f2f2f;
    font-size: 2vh;
    padding: 10px;
}
#logMsg,#roundIteration{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.score{
    display: flex;
    flex-direction: column;
}
.scoreDisplay{
    width: 40%;
    margin: 7vh auto;
    border-radius: 8px;
    padding: 1vh;
    font-size: 5vh;
    background: #2f2f2f;
    color: #fff;
}
.itemSelection{
    display: flex;
    justify-content: space-between;
}
.itemSelection button{
    background: none;
    border: none;
}

.resp-img{
    width: 100%;
    height: auto;
}

#container > *{
    padding: 20px;
}

#title h1{
    font-size: 6vh;
    font-family: monospace;
    color: firebrick;
}
#roundIteration h1{
    font-size: 4vh;
    color: #3569b1
}
.score h2{
    font-size: 3.7vh;
    padding: 5vh;
}
.itemInsert{
    display: flex;
    justify-content: center;
}

.disablePage{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

#gameOver{
    flex-direction: column;
    display: flex;
    font-size: 4vh;
    flex: 1;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    margin-top: 30%;
}
div#gameOver h1 {
    color: #faa763
}
div#gameOver > * {
    margin: 4vh;
}
div#gameOver > button{
    font-size: 3vh;
    padding: 2vh;
    background-color: #1da1f2;
    border-radius: 0.9vh;
    color: white;
}